# Ignore multifiles, the user can compile them
# themselves when they clone the repo

*.mf

# I hate .pyc!

*.pyc
*.yaml

!*.lib
game/resourcepack
game/safe_test.py
game/.pydevproject
game/.project
game/winter
# Ignore everything in the astron folder.
game/astron/**
game/tools/libcoginvasion.pyd
game/tools/libcoginvasion.c
game/tools/libcoginvasion.lib
game/tools/libcoginvasion.exp
game/file_info.txt
game/libcoginvasion.pyd
game/new-cog-area
game/screenshots
game/settings.json
game/uno_test.py
game/mss'.py
game/ct-test.py
game/start_ci.bat
game/lib/coginvasioncxx/*.obj
game/lib/coginvasioncxx/*.pyd
game/lib/coginvasioncxx/*.dll
game/lib/coginvasioncxx/*.lib
game/lib/coginvasioncxx/*.exp
Panda3D-CI/bin
Panda3D-CI/etc
Panda3D-CI/include
Panda3D-CI/lib
Panda3D-CI/models
Panda3D-CI/panda3d
Panda3D-CI/pandac
Panda3D-CI/plugins
Panda3D-CI/Pmw
Panda3D-CI/Pmw-new
Panda3D-CI/python
Panda3D-CI/LICENSE
Panda3D-CI/ReleaseNotes
Panda3D-CI-Production
Panda3D-CI/direct-old
Panda3D-CI/tmp
python-master
cio-panda3d
game/built
game/cog-bldg-modles
game/tex
cog-invasion-online.geany
game/coginvasion.bin
*.yaml
*.bat
.project
.pydevproject
game/astron/databases
*.pyo
game/tools/*.c
prod
!game/tools/cio-file-hash-writer.exe
game/puzzleroomidea.png
game/puzzleroomidea.pdn
game/puzzle.py
game/resources
game/tools/nirai
!game/start_ci.bat
!game/start_astron_server.bat
!game/start_uber_server.bat
!game/start_ai_server.bat
!game/Write_Hashes.bat
!game/settings.json

!game/astron/astrond.exe
!game/astron/DistrictNames.txt
!game/astron/nameRequests.json
!game/astron/ssleay32MD.dll
!game/astron/ssleay32MDd.ddl
!game/astron/libeay32MD.dll
!game/astron/gameserver.crt
!game/astron/rsakey.key
!game/astron/config/astrond.yml